.loader-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  display: grid;
  animation: s4 4s infinite;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border: 16px solid;
  border-radius: 50%;
  border-color: #b388ff #b388ff #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.loader::after {
  border-color: #0000 #0000 #311b92 #311b92;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
