* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --main: #534293;
  --800: #620097;
  --700: #7014cc;
  --600: #883bd5;
  --500: #a062dd;
  --400: #b88ae6;
  --300: #cfb1ee;
  --200: #e7d8f7;
  --100: #f2daff;
  --050: #e7e2e8;
  --000: #e5e5e5;
  --accent: #07f49e;
  --shade-of-black: #212121;
  --shade-of-white: #f9f6ee;

  /* ======== TYPOGRAPHY ======== */

  --fontXXL: 4.5rem;
  --fontXL: 2.5rem;
  --fontLG: 2rem;
  --fontMD: 1.75rem;
  --fontHeader: 1.5rem;
  --fontSub: 1.25rem;
  --fontRegular: 1rem;
  --gray-font: #565b5f;
  --purple-font: #311432;
}

@media screen and (max-width: 360px) {
  :root {
    --fontXXL: 3.5rem;
    --fontXL: 2rem;
    --fontLG: 1.5rem;
    --fontMD: 1.35rem;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --fontXXL: 6.5rem;
    --fontXL: 3.5rem;
    --fontLG: 2.5rem;
    --fontMD: 2rem;
    --fontHeader: 1.75rem;
    --fontSub: 1.35rem;
    --regular: 1.15rem;
  }
}

/* ======== GLOBAL STYLES ======== */

.container {
  min-height: min(100vh - 50px);
  width: min(100% - 2rem, 1200px);
  margin: 50px auto 0 auto;
}

body {
  background-color: var(--shade-of-white);
}

/* ======== NAVBAR ======== */

.navbar {
  display: grid;
  place-items: end;
  background-color: var(--500);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid var(--400);
  overflow: hidden;
}

ul.nav-desktop {
  padding: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul.nav-desktop > li {
  padding-left: 50px;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: var(--fontSub);
  font-family: Lato, sans-serif;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .toggle-icon {
    display: none;
  }

  .nav-toggle-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  ul.nav-desktop {
    display: none;
  }

  .nav-toggle-menu {
    position: fixed;
    top: 25px;
    left: 0;
    height: 300px;
    width: 100%;
    display: grid;
    place-items: center;
    order: 2;
    background-color: var(--100);
    padding: 50px;
    list-style: none;
    transition: all 250ms;
    z-index: 3;
  }

  .nav-toggle-menu.active {
    border-top: 1px solid var(--400);
    position: absolute;
    top: -300px;
    left: 0;
    transition: all 250ms;
  }

  .nav-toggle-menu > li {
    margin: 10px auto;
  }

  .nav-toggle-menu > li > a {
    color: var(--gray-font);
  }

  .toggle-icon {
    background: none;
    border: 0;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 10px;
  }
}

/* ======== HERO PAGE ======== */

/* .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--shade-of-white);
}

.hero h1 {
  font-size: var(--fontXXL);
  font-family: "Bebas Neue", sans-serif;
  color: var(--shade-of-black);
  margin-bottom: 0;
}

h1 > span {
  font-size: var(--fontXXL);
  background: -webkit-linear-gradient(var(--main), var(--400));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h3 {
  font-family: "Times New Roman", Times, serif, "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif,
    sans-serif;
  text-align: center;
  font-size: var(--fontMD);
  font-weight: 300;
  color: var(--gray-font);
  margin: 25px auto 50px auto;
  max-width: 35ch;
}

.btn-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: var(--fontRegular);
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

Button .getStartedBtn {
  background-color: var(--main);
  border: 1px solid var(--600);
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

Button .mobileBtn {
  background-color: var(--200);
  color: var(--gray-font);
} */

/* ======== ABOUT PAGE ======== */

.details {
  text-align: center;
  font-size: var(--fontLG);
  color: var(--shade-of-black);
}

/* ======== CAROUSEL PAGE ======== */

.slick-container {
  padding-bottom: 20px;
  max-width: 100%;
  text-align: center;
}

.slick-container article {
  padding: 10px;
}

.slide {
  padding: auto 5px;
  display: inline-block;
  height: 125px;
  width: 125px;
  display: grid;
  place-items: center;
  border: 1px solid var(--050);
  border-radius: 10px;
  background-color: var(--000);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.slide h3 {
  font-family: Lato, serif;
  font-size: var(--fontRegular);
  color: var(--purple-font);
  text-transform: capitalize;
}

.slide figure img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0.2rem;
}

.slide span {
  color: #118c4f;
  font-weight: 700;
  font-family: Lato, serif;
}

.slick-prev::before {
  color: var(--primary-500) !important;
}
.slick-next::before {
  color: var(--primary-500) !important;
}
